html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: #a5deff;
}
.body {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-content: center;
  margin: auto;
  background-color: #79a4be98;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(7, 7, 7, 0.623),
      rgba(61, 61, 61, 0.808)
    ),
    url("media/Dimonds.jpg");
  background-size: cover;
}
.header_photo {
  padding: 2rem;
  width: 50%;
}
.nav {
  background-color: rgb(98, 182, 255);
  margin: 1rem;
  border-radius: 1.5rem;
}
.nav_elements {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav_link {
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.nav_link:hover {
  font-size: 2.7rem;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1.5fr;
  margin: 4rem 1rem;
}
.promotion {
  background-image: linear-gradient(
      to bottom,
      rgba(7, 7, 7, 0.719),
      rgba(112, 112, 112, 0.5)
    ),
    url(media/wedding-ring.jpg);
  background-size: cover;
  background-position: 50% 25%;
  height: 35rem;
  grid-area: 1/1/2/4;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.promotion_heading {
  font-size: 3.5rem;
  color: rgb(211, 255, 255);
  text-shadow: 3px 3px 3px black;
}
.promotion_text {
  font-size: 2rem;
  color: rgb(211, 255, 255);
  text-shadow: 3px 3px 3px black;
}
.card {
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 1.5rem;
  margin: 0 2rem;
}
